.ForumTopicContainer{
  width: auto;
  border: 1px black;
  vertical-align: middle;
  position: relative;
  top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
}

.ForumTopic{
  width: 250px;
  height: 250px;
<<<<<<< HEAD
  border: 1px solid black;
=======
  border: 1px black;
  background-repeat: no-repeat;
  background-size: 250px 250px;
>>>>>>> 1c1d76febc8473d2c10be2d693656dbcef89a3af
  vertical-align: middle;
  position: relative;
  margin: auto;
  margin-bottom: 125px;
  margin-top: 75px;
}

@media (min-width:1000px){
  .ForumTopicContainer{
      grid-template-columns: auto auto ;
  }
}

@media (min-width:1500px){
  .ForumTopicContainer{
      grid-template-columns: auto auto auto ;
  }
}

@media (min-width:2000px){
  .ForumTopicContainer{
      grid-template-columns: auto auto auto auto;
  }
}

.pictureTitle {
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
 
  
}

.noOpacity {
  background: rgba(255, 255, 255, 0.7);
  color: black;
}