.headerBox {
  height: 70px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.headerLinksContainer {
  display:flex;
  justify-content: space-evenly; 
}

.headerLinks {
  background-color: lightgreen;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: black;
}

.headerLinks:hover {
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 1000;
}

.loginIndicator {
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}

#headerLogo {
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  text-align: center;
}

.userImage {
  width: 50px;
}
