.LoginContainer{
    height: 300px;
    width: 230px;
    margin: 0 auto;
    display: grid;
    border: 1px solid black;
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    margin-left: -115px;
    top: 50%;
    margin-top: -150px;
    overflow: auto;
    display: auto;
    background-color: white;
    z-index: 2;
}

.closeModal{
    color: red;
    float: left;
    position: absolute;
    top: -4px;
    left: 219px;
}

.closeModal:hover{
    cursor: pointer;
}

.UserName{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.Password{
    display: flex;
    flex-direction: column;
    margin: auto;
}

button{
    background-color: deepskyblue;
    margin: auto;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid deepskyblue;
    border-radius: 5%;
    cursor: pointer;
}

input{
    box-shadow: 1px 1px 2px black;
}

h1{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Register{
    text-decoration: underline;
    color: blue;
    font-size: 8;
    cursor: pointer;
}
