.moduleContainer {
    max-width: 1024px;
    background: white;
    border: 1px solid #ccc;
    margin: 104px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0vh;
    padding-left: 50px;
    overflow: scroll;
    height: 700px;
  }

.pictures{
    
    height: 250px;
    width: 250px;
    margin: 5px;
    border: 1px solid black;

}
.pictureContainer{
    display: flex;
    flex-wrap: wrap;
}

.submitbutton{
    background-color: deepskyblue;
    margin: auto;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid deepskyblue;
    border-radius: 5%;
    cursor: pointer;
}
.commentinsert{
    display: flex;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
  margin: 5px;
  background: whitesmoke;
}

.theXbutton{
  text-align: right;
  padding: 5px;
  cursor: pointer;
}