.moduleContainer {
    max-width: 70.25vw;
    background: white;
    border: 1px solid #ccc;
    margin-top: 104px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0vh;

    padding-left: 50px;
    overflow: scroll;
    max-height: 80vh;
  }

.pictures{
    
    height: 250px;
    width: 250px;
    margin: 5px;
    border: 1px solid black;

}
.pictureContainer{
    display: flex;
    flex-wrap: wrap;
}

.submitbutton{
    background-color: deepskyblue;
    margin: auto;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid deepskyblue;
    border-radius: 5%;
    cursor: pointer;
}
.commentinsert{
    display: flex;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
  margin: 5px;
  background: whitesmoke;
}