.YourUserPage{
    width: auto;
    border: 1px black;
    vertical-align: middle;
    position: relative;
    top: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 190px 25px 1fr 25px;
    grid-template-rows: 200px 25px 250px 25px;
    padding-left: 40px;
}

.YourImage{
    width: 120px;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    margin: auto;
}

.actualImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.YourInfo{
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    height: auto;
    padding: 8px;
}

.YourMedals{
    border: 1px solid black;
    grid-column-start: 1;
    grid-row-start: 3;
    text-align: center;
    padding-top: 12px;
    display: grid;
    grid-template-columns: auto auto;
}

.YourHistory{
    padding: 8px;
    border: 1px solid black;
    grid-column-start: 3;
    grid-row: 3 ;
    grid-row-end: 4;
}

.medals{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("nomedal.png");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    text-align: center;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bioBox {
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  max-height: 45%;
  overflow-wrap: break-word;
}