.UserContainer{
    width: auto;
    vertical-align: middle;
    position: relative;
    top: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.ProfilePic{
    text-align: center;
    height: 160px;
    width: 160px;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    margin: auto;
}

.InfoPanel{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    vertical-align: middle;
    position: relative;
}