.appContainer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.modal{
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  left: 0%;
  box-sizing: content-box;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color:black;
}

textarea {
  resize: none;
}

